#bottom_nav, #footer {
    background-color: #00264d;
}

.list-group-item {
    background-color: #00264d;
    border: none;
}

.seeall_button {
    display: block;
    background-color: #f0e6eb !important;
    color: #dd383a;
    transition: all 0.5s;
}

.seeall_button:hover {
    background-color: #f0dce5 !important;
    color: red;
}


#facility a{
    color: #162f4d;
    transition: all 0.4s;
    text-decoration: none;
}

#facility a:hover {
    opacity: 0.8;
}




@media only screen and (max-width:1200px){
    .facility-header img {
        min-height: 30vh;
    }
}
