/*
colours
background-color #e5e5e5
button and special color  #dd383a
mini-header color #oa223d
review background #ff5fafe
text-color 1 #4b4b4b
text-color-2 #f1f1f1

fonts
heading 1-5 font-family: 'Roboto', sans-serif 400;
heading 6 font-family: 'Roboto', sans-serif 300;
body font-family: 'Roboto Condensed', sans-serif;
*/

body {
    background-color:#ffffff;
    color: #4b4b4b;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    min-height: 100%;
}

#navbar {
    min-height: 4vh;
    overflow: visible;
    z-index: 2;
}

.bg-light{
    background-color: #fff !important;
    padding-top: 2rem;
    padding-bottom: 2rem;
    position: sticky;
    top: 0;
    transition: all 0.1s;
}

.bg-light.scroll {
    background-color: #e5e5e5 !important;
    padding-top: 0rem;
    padding-bottom: 0rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.nav-item a{
    color: #0a223d !important;
    transition: all 0.8s;
    font-size: 12px !important;
}
.nav-item a:hover {
    color: #4f657e !important;
}
.list {
    display: inline-block;
    margin-right: 1.5rem;
}

.navbar-brand {
    color: #dd383a !important;
    font-size: 2rem !important;
}
.navbar-brand .nav-span {
    color: #0a223d;
}

.dropdown-menu {
    background-color: #e5e5e5 !important;
}

.dropdown-item {
    color: #0a223d !important;
    transition: all 0.33s;
}
.dropdown-item:hover {
    background-color: #fff !important;
    opacity: 0.9;
}

.display-all {
    min-height: 100vh;
    background-color: yellow;
}
.display-info {
    background-color: #0a223d; 
    min-height: 60vh;
    border-radius: 20px;
}


.cl-display {
    min-height: 60vh;
}

.rate-para {
    max-width: 60%;
}

.card-img-top {
    max-height: 225px !important;
    min-height: 225px;
}

.btn-rate {
    display: block;
    max-width: 80%;
    background-color: #0a223d !important;
    color: #fff !important;
}

.card-body {
    background-color: #dd383a;
    color: #fff;
}

.card {
    max-width: 92%;
    margin-right: auto;
    margin-left: auto;
}

.rate-header {
    color: #0a223d;
}
.fourth-flex {
    display: flex;
    justify-content: space-between;
}

.span-rate {
    display: inline-block;
    font-size: 0.77rem;
}

.btn-rate-all {
    display: block;
    max-width: 14%;
    background-color: #f0e6eb !important;
    color: #dd383a;
    transition:  all 0.4s;
}

.btn-rate-all:hover {
    color: #dd383a !important;
    opacity: 0.7;
}

.about-header {
    color: #dd383a;
}

.about-header-head {
    color: #0a223d;
    font-weight: bold;
}

.about-text {
    word-spacing: 0.6rem;
    text-align: justify;
}

.review-item{
    background-color:#f0e6eb;
}

.review-header {
    color: #dd383a;
}

.review-item {
    position: relative;
}

.review-item h4 {
    font-size: 0.99rem;
    font-weight: bold;
}

.review-item p{
    font-size: 0.84rem;
}

.star-rating {
    font-size: 0.6rem;
}

.review-icon {
    color: #dbbe19;
}

.review-img {
    border-radius: 50%;
    display: block;
    width: 90px;
    height: 90px;
    position: absolute;
    left: 38%;
    top: -15%;
}

#contact .container {
    background-color:#f0e6eb;
    color: #0a223d;
    border-radius:10px ;
}

#contact h4 {
    font-weight: bold;
    min-width: 80%;
    font-size: 2rem;
}

.fifth-flex {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

.btn-contact {
    display: inline-block;
    background-color: #dd383a !important;
    color: #fff !important;
    max-height: 80%;
    display: flex;
    align-items: center;
}

#footer {
    min-height: 50vh;
    background-color: #0a223d;
    color: #fff;
}

.col-footer {
    font-size: 0.8rem;
}

.col-footer h5 {
    font-size: 0.9rem;
}

.col-footer a{
    color: #fff;
    text-decoration: none;
    transition: all 0.5s;
}

.col-footer a:hover{
    opacity: 0.8;
}










@media only screen and (max-width:990px) {

    .bg-light {
        background-color: #e5e5e5 !important;
        padding-top: 0rem;
        padding-bottom: 0rem;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
    .rate-para {
        max-width: 80%;
    }
}

@media only screen and (max-width:767px) {

    .btn-rate-all {
        max-width: 20%;
    }
}


@media only screen and (max-width:500px) {

    .rate-para {
        max-width: 95%;
        padding: 0;
    }

    
    .btn-rate-all {
        min-width: 20%;
        max-width: 25%;
    }


    #contact h4 {
        font-weight: bold;
        min-width: 60%;
        font-size: 1rem;
    }
}


